<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Turner Music Search</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/animate.css" rel="stylesheet">	
	<link href="css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body ng-app="instantSearch" ng-controller="InstantSearchController">
	<header id="header" role="banner">		
		<div class="main-nav">
			<div class="container">
				<div class="header-top">
					<div class="pull-right social-icons">
						
					</div>
				</div>     
		        <div class="row">	        		
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
		                <a class="navbar-brand" href="index.html">
		                	<img class="img-responsive" src="images/logo.png" alt="logo">
		                </a>                    
		            </div>
		            <div class="collapse navbar-collapse">
		                <ul class="nav navbar-nav navbar-right">                 
		                    <li class="scroll active"><a href="#home">Home</a></li>
		                    <li class="scroll"><a href="#fav">Favorites</a></li>       
		                </ul>
		            </div>
		        </div>
	        </div>
        </div>                    
    </header>
    <!--/#header--> 

    <section id="home">	
	 		<div id="main-slider" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="item active">
					<img class="img-responsive" src="images/slider/bg1.jpg" alt="slider">						
					<div class="carousel-caption">
						<h2>Search for Artists </h2>
						<h4><input type="text" id="search-field" ng-model="searchString" placeholder="Enter your search terms" ng-change="search('artist')" onkeyup="#artists"></h4>
						<a href="#artists">View Artists</a>
					</div>
					
				</div>
				
			</div>
		</div>    	
    </section>
	<!--/#home-->

	
<div class="title"> <a href="" ng-click="jumpto('artists')">{{title}}</a>  <a href="" ng-click="jumpto('albums')">{{albumtitle}}</a>  <a href="" ng-click="jumpto('tracks')">{{tracktitle}}</a> </div>

	<section id="artists" class="artists" ng-show="artist_flag=='show'">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-9">
					<div id="event-carousel" class="carousel slide" data-interval="false">
						<h2 class="heading">Artists</h2>
						<a href="#home" class="even-control-left">Back to Search</a>
												<div class="carousel-inner">
							<div class="item active">
								<div class="row">
									
									<div class="col-sm-4" ng-repeat="item in items.fromServer | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">
										<div class="single-event">
											<img ng-src="{{item.images[0].url}}" alt="{{item.name}}" class="img-responsive" width="289" height="175" >
											<h4>{{item.name}}</h4>
											<h5><a href="" ng-click="show_album_artists(item.id,item.name,'albums')"> View Albums  </a>
											<a href="" ng-click="savetofav(item)" class="add-to-fav"> Add to favourites  </a>
											</h5>
										</div>
									</div>
									
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div class="guitar">
					<img class="img-responsive" src="images/guitar.png" alt="guitar">
				</div>
			</div>			
		</div>
	</section><!--/#event-->

	
	
	
	<section id="albums" class="artists" ng-show="album_flag=='show'">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-9">
					<div id="event-carousel" class="carousel slide" data-interval="false">
						<h2 class="heading">Albums</h2>
						<a href="#home" class="even-control-left">Back to Search</a>
						<div class="carousel-inner">
							<div class="item active">
								<div class="row">
									
									<div class="col-sm-4" ng-repeat="item in albums | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">
										<div class="single-event">
											<img ng-src="{{item.images[0].url}}" alt="{{item.name}}" class="img-responsive"  width="289" height="175">
											<h4>{{item.name}}</h4>
											<h5><a href="" ng-click="show_album_artists(item.id,item.name,'tracks')"> View Tracks  </a>
											<a href="" ng-click="savetofav(item)"> Add to favourites  </a>
											</h5>
										</div>
									</div>
									
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div class="guitar">
					<img class="img-responsive" src="images/guitar.png" alt="guitar">
				</div>
			</div>			
		</div>
	</section><!--/#event-->
	
	
	
	<section id="tracks" ng-show="track_flag=='show'" class="artists">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-9">
					<div id="event-carousel" class="carousel slide" data-interval="false">
						<h2 class="heading">Tracks</h2>
							<a href="#home" class="even-control-left">Back to Search</a>
						<div class="carousel-inner">
							<div class="item active">
								<div class="row">
									
									<div class="col-sm-4" ng-repeat="item in tracks | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">
										<div class="single-event">
											<div id="nav">
												<span class="pictos">{{item.name}}  </span> 
												<audio controls><source src="https://p.scdn.co/mp3-preview/{{item.id}}" type="audio/ogg"></audio>
											</div>
											<div><a href="" ng-click="savetofav(item)"> Add to favourites  </a></div>
										</div>
									</div>
									
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div class="guitar">
					<img class="img-responsive" src="images/guitar.png" alt="guitar">
				</div>
			</div>			
		</div>
	</section><!--/#event-->
	
	
		
	
	<section id="fav">
		<div id="fav-carousel" class="carousel slide" data-interval="false">
			<div class="container">
				<div class="row">
					<div class="col-sm-10">
						<h2>Favourites</h2>			
						<div class="carousel-inner">
							<div class="item active">
							
							<div ng-repeat="x in fav">
								<span class="pictos fav-list">{{x.name}} <a href="" index="$index" ng-click="deletefav($index)">Delete</a> </span> 
							</div>
								
							</div>
						</div>
					</div>
				</div>				
			</div>
			<div class="light">
				<img class="img-responsive" src="images/light.png" alt="">
			</div>
		</div>
	</section><!--/#fav-->

	

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                <p> Copyright  &copy;2014. All Rights Reserved. </p>                
            </div>
        </div>
    </footer>
    <!--/#footer-->
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>
  
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  	<script type="text/javascript" src="js/gmaps.js"></script>
	<script type="text/javascript" src="js/smoothscroll.js"></script>
    <script type="text/javascript" src="js/jquery.parallax.js"></script>
    <script type="text/javascript" src="js/coundown-timer.js"></script>
    <script type="text/javascript" src="js/jquery.scrollTo.js"></script>
    <script type="text/javascript" src="js/jquery.nav.js"></script>
    <script type="text/javascript" src="js/main.js"></script>  
</body>
</html>